---
const stats = [
  {
    name: 'Years',
    value: '1',
  },
  {
    name: 'Projects',
    value: '6',
  },
  {
    name: 'Clicks',
    value: "374K",
  },
  {
    name: 'Impressions',
    value: "6.8M",
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <img
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        width="576"
        height="864"
        src="/assets/about.webp"
        alt="About Image"
      />
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Our mission</h2>
          <div class="space-y-6">
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Welcome to Axon Studio, where creativity meets innovation to forge exceptional digital experiences. We are a dynamic team of forward-thinkers, dedicated to shaping the digital landscape with our passion for design and technology.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              We believe in the power of imagination to transform ideas into reality. With a keen eye for aesthetics and a mastery of the latest digital tools, we craft immersive experiences that resonate with audiences on a profound level.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Driven by our commitment to excellence we are more than just a creative agency; we are pioneers of possibility, pushing the boundaries of what's conceivable to deliver unparalleled results for our clients. Join us on a journey of creativity, innovation, and limitless potential.
            </p>
          </div>
        </div>

        <!-- Stats -->
        <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2">
          {
            stats.map((stat) => (
              <div class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border p-6">
                <dt class="text-base">{stat.name}</dt>
                <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
</section>
