---
import Layout from '../layouts/Layout.astro';
---

<Layout
  description="Our refund policy ensures customer satisfaction. Learn about our terms for refunds, exchanges, and returns to shop with confidence."
  title="Refund Policy | Axon Studio"
>
  <div class="mx-auto max-w-3xl px-4 py-16 sm:px-6 sm:py-20 lg:px-8">
    <div class="sm:pb:20 flex flex-col gap-4 pb-16 text-center">
      <h1 class="text-4xl font-medium tracking-tight sm:text-5xl">Privacy Policy</h1>
      <p class="text-base">Last update: April 11, 2024</p>
    </div>
    <div>
      <p class="mb-4">
        At Axon Studio, we strive to provide high-quality services to our clients. However, we understand that sometimes a refund may be necessary. This Refund Policy explains our refund process and the conditions under which refunds may be granted.

      </p>
      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">1. Refund Eligibility      </h2>
      <p class="mb-6">
        We offer refunds for the following services:
      </p>
      <ul class="list-inside list-disc space-y-4">
        <li>
          Search Engine Optimisation
        </li>
        <li>
          Website Development
        </li>
      </ul>

      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">2. Eligibility Criteria</h2>
      <p class="mb-4">To be eligible for a refund, you must meet the following conditions:      </p>
      <ul class="list-inside list-disc space-y-4">
        <li>
          You have requested a refund within 30 days of the initial payment date.

        </li>
        <li>
          You have provided a valid reason for the refund request, such as dissatisfaction with the service quality or failure to deliver the promised results.

        </li>
        <li>
          You have allowed us a reasonable opportunity to address your concerns and provide a solution.

        </li>
      </ul>
      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">3. Refund Process
      </h2>
      <p class="mb-4">
        To request a refund, please contact us at  <a href="mailto:info@axonstudio.tech">info@axonstudio.tech</a>. We will review your request and respond within 3 business days.
        If your refund request is approved, we will issue a refund within 7 business days to the original payment method used.       If your refund request is not approved, we will provide an explanation for the denial.
      </p>

      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">  4. Exceptions
      </h2>
      <p class="mb-4">We do not offer refunds for the following services:      </p>
      <ul class="list-inside list-disc space-y-4">
        <li>
          Consulting services
        </li>
        <li>
          Custom development projects
        </li>
        <li>
          One-time service fees
        </li>
        <li>
          Hosting and Domain Charges
        </li>
      </ul>
      
      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">5. Changes to the Refund Policy

      </h2>
      <p class="mb-4">
        We may update this Refund Policy from time to time. The most current version of the policy will always be available on our website. By continuing to use our services after any changes to the policy, you agree to the updated terms.
      </p>

      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">Contact Us</h2>
      <p class="mb-4">
        If you have any questions or concerns about our Refund Policy or our services, please contact us at
        <a href="mailto:info@axonstudio.tech">info@axonstudio.tech</a>
      </p>

    </div>
  </div>
</Layout>
